.c-git-activity {
  margin: 4rem auto 0;
  max-width: 800px;
}

.c-git-activity__error-msg {
  background-color: #C33;
  color: white;
  line-height: 1.8;
  padding: 0.4rem 1.2rem;
}

.c-git-activity__user {
  font-size: 1.2em;
}

.c-git-user__name {
  font-weight: 600;
}
.c-git-user__url {
  float: right;
}

.c-git-activity__repositories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.c-git-repository {
  flex-basis: 48%;
}
.c-git-repository__name {
  font-size: 1.8rem;
}
.c-git-repository__description {
  border-bottom: 1px dotted #333;
  line-height: 1.6;
  margin: .4rem;
}
.c-git-repository__commits-all {
  display: block;
  margin: .6rem auto 0;
  max-width: 150px;
  text-align: center;
}

.c-git-activity__commits {
  margin: 1.5rem 0;
}
.c-git-commit__message {
  display: block;
  line-height: 1.2;
  margin: .4rem;
}